html, body {
	padding: 0;
	margin: 0;
	height: 100%;
	font-family: arial, sans-serif;
}

body { 
	display: flex;
    flex-direction: column;
    height: 100%;
}

/* nawigacja */

nav {
	font: 13px/27px Roboto, RobotoDraft, Arial, sans-serif;
	padding: 6px 10px;
	height: 48px;
	display: flex;
	justify-content: flex-end;
}

nav ul {
	list-style: none;
	padding-left: 0;
	display: inline-flex;
	align-items: center;
	margin: 0;
}

nav ul li {
	padding-left: 15px;
}

nav ul li a {
	font-family: arial, sans-serif;
	line-height: 24px;
	color: rgba(0,0,0,0.87);
    text-decoration: none;
	display: block;
}

.nawigacja-produkty {
	display: block;
	height: 40px;
    width: 40px;
	padding: 8px;
	margin: 0 -2px 0 4px;
	box-sizing: border-box;
}

.zaloguj-przycisk {
    color: #fff;
	background: #1a73e8;
    border: 1px solid transparent;
	font-family: Roboto, RobotoDraft, Helvetica, Arial, sans-serif;
    font-weight: 500;
    font-size: 14px;
    letter-spacing: .25px;
    line-height: 16px;
    margin-right: 8px;
    min-width: 96px;
    padding: 9px 23px;
    text-align: center;
    vertical-align: middle;
    border-radius: 4px;
    box-sizing: border-box;
}

/* logo */

.logo {
	min-height: 92px;
    max-height: 290px;
    height: calc(100% - 560px);
	display: flex;
    flex-direction: column;
    align-items: center;
}

.logo-obrazek {
	height: 100%;
    margin-top: auto;
	max-height: 92px;
    max-width: 100%;
    object-fit: contain;
    object-position: center bottom;
    width: auto;
}

/* wyszukiwarka */

.wyszukiwarka {
	width: auto;
    max-width: 584px;
	margin: 0 auto;
    padding: 26px 0;
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 100%;
}

.wyszukiwarka-szukaj {
	background: #fff;
    display: flex;
    border: 1px solid #dfe1e5;
    box-shadow: none;
    border-radius: 24px;
    z-index: 3;
    height: 46px;
	width: 100%;
    padding: 0 8px 0 14px;
	align-items: center;
	box-sizing: border-box;
}

.wyszukiwarka input {
	border: 0;
	background-color: transparent;
	margin-left: 20px;
	outline: none;
	width: 100%;
    height: 100%;
}

.wyszukiwarka-przyciski {
	padding-top: 18px;
}

.wyszukiwarka-przyciski button {
    background-color: #f8f9fa;
    border: 1px solid #f8f9fa;
    border-radius: 4px;
    color: #3c4043;
    font-family: arial,sans-serif;
    font-size: 14px;
    margin: 11px 4px;
    padding: 0 16px;
    line-height: 27px;
    height: 36px;
    min-width: 54px;
    text-align: center;
    cursor: pointer;
    user-select: none;
	box-sizing: border-box;
}

.szukajka {
    color: #9aa0a6;
    height: 20px;
    width: 20px;
}

.klawiatura {
	background: url(./../img/wyszukiwarka/tia.png) no-repeat center;
    height: 24px;
    width: 24px;
	display: block;
	padding: 0 8px;
}

.mikrofon {
	max-width: 24px;
	padding: 0 8px 0 10px
}

/* stopka */

.stopka {
	margin-top: auto;
	background: #f2f2f2;
	line-height: 17px;
}

.stopka-belka {
	padding: 15px 30px;
    border-bottom: 1px solid #dadce0;
    font-size: 15px;
    color: rgba(0,0,0,.54);
	display: flex;
	justify-content: space-between;
	box-sizing: border-box;
}

.stopka-belka-2 {
	padding: 15px 20px;
	line-height: 16px;
	border-bottom: 1px solid transparent;
}

.stopka ul {
	list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}

.stopka ul li {
	padding: 0 15px;
}

.stopka a {
	text-decoration: none;
	font-size: 14px;
    color: #70757a;
}

.stopka-listek {
	display: flex;
	align-items: center;
}

.stopka-listek img {
	height: 14px;
    margin-right: 6px;
}

.stopka-lmenu {
	display: flex;
	justify-content: flex-start;
    min-width: 30%;
}

.stopka-rmenu {
	min-width: 30%;
	display: flex;
	justify-content: flex-end;
}


@media only screen and (max-width: 1100px) {
	.stopka-belka-2 {
		flex-direction: column;
		align-items: center;
	}


	.stopka-listek {
		margin: 20px 0;
	}
}